<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/_layout :: body (~{::body}, ~{::title})">
<head>
    <title>
        Criar conta
    </title>
</head>
<body>
<section class="container container-narrow">
    <h2 class="mb-4">Criar conta</h2>

    <div th:if="${erro}" class="alert alert-danger" th:text="${erro}"></div>
    <div th:if="${ok}" class="alert alert-success" th:text="${ok}"></div>

    <form th:action="@{/web/register}" th:object="${form}" method="post">
        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input class="form-control" type="text" th:field="*{nome}" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" type="email" th:field="*{email}" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Senha</label>
            <input class="form-control" type="password" th:field="*{senha}" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Confirmar senha</label>
            <input class="form-control" type="password" name="confirmacaoSenha" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Pátio (ID)</label>
            <input class="form-control" type="number" th:field="*{patio}" min="1" step="1">
        </div>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <button class="btn btn-success w-100" type="submit">Registrar</button>
    </form>
    <p class="mt-3"> Já tem conta? <a th:href="@{/web/login}">Entrar</a></p>
</section>
</body>
</html>
